<p id="notice"><%= notice %></p>

<p>
  <strong>Level:</strong>
  <%= @development.level %>
</p>

<p>
  <strong>Bonus:</strong>
  <%= @development.bonus %>
</p>

<p>
  <strong>Point:</strong>
  <%= @development.point %>
</p>

<p>
  <strong>Diamond:</strong>
  <%= @development.diamond %>
</p>

<p>
  <strong>Sapphire:</strong>
  <%= @development.sapphire %>
</p>

<p>
  <strong>Emerald:</strong>
  <%= @development.emerald %>
</p>

<p>
  <strong>Ruby:</strong>
  <%= @development.ruby %>
</p>

<p>
  <strong>Onyx:</strong>
  <%= @development.onyx %>
</p>

<%= link_to 'Edit', edit_development_path(@development) %> |
<%= link_to 'Back', developments_path %>
